{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block body %}
    <h1 class="my-4">Members</h1>

    <div class="mb-3">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_members_new') }}" class="btn btn-primary">Create New Member</a>
        {% endif %}
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.lastname }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{{ path('app_members_show', {'id': member.id}) }}" class="btn btn-info btn-sm">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_members_edit', {'id': member.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                        {{ include('members/_delete_form.html.twig', { 'id': member.id, 'button_class': 'btn btn-danger btn-sm', 'button_label': 'Delete' }) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
