{% extends 'base.html.twig' %}

{% block title %}New Sections{% endblock %}

{% block body %}
    <h1>Create new Sections</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            <a href="{{ path('app_sections_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    {{ form_end(form) }}

{% endblock %}
