{% extends 'base.html.twig' %}

{% block title %}Sports Details{% endblock %}

{% block body %}
    <h1 class="my-4">Sports Details</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ section.name }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
            </tr>
            <tr>
                <th scope="row">Ruleset</th>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('app_sections_index') }}" class="btn btn-info btn-sm">Back to list</a>
        {% if is_granted('ROLE_ADMIN') %}                <a href="{{ path('app_sections_edit', {'id': section.id}) }}" class="btn btn-warning btn-sm">Edit</a>
            {{ include('sections/_delete_form.html.twig', { 'id': section.id, 'button_class': 'btn btn-danger btn-sm', 'button_label': 'Delete' }) }}
        {% endif %}
    <h2 class="my-4">Planned Activities</h2>
    {% if section.activities is empty %}
        <p>No activities planned for this sport.</p>
    {% else %}
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Teams</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for activity in section.activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.date ? activity.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if activity.teams is not empty %}
                            <ul style="list-style-type: none; padding-left: 0;">
                            {% for team in activity.teams %}
                                <li>{{ team.name }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>No teams</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_activities_show', {'id': activity.id}) }}" class="btn btn-info btn-sm">Show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_activities_edit', {'id': activity.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            {{ include('activities/_delete_form.html.twig', { 'id': activity.id, 'button_class': 'btn btn-danger btn-sm', 'button_label': 'Delete' }) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}
